@using Tetrifact.Core;
@using Tetrifact.Web;

@{
    Layout = "~/Views/Shared/Layout.cshtml";

    ViewData["Title"] = "Packages";
    PageableData<Package> packages = ViewData["packages"] as PageableData<Package>;
    string pager = ViewData["pager"] as string;
    Settings settings = ViewData["settings"] as Settings;
}

<div>
    @if (packages.Items.Any())
    {
        @Html.Raw(pager)

        <ul>

            @foreach (Package package in packages.Items)
            {
                <li class="listItem">
                    <a href="/package/@package.Id">@package.Id</a> 
                    <div class="subtext">(@package.CreatedUtc.ToIso() - @package.CreatedUtc.Ago() ago)</div>
                    @await Html.PartialAsync("TagsList", new TagsModel{ Settings = settings, Tags = package.Tags })
                </li>
            }

        </ul>

        @Html.Raw(pager)
    }
    else
    {
        <text>
            No packages found.
        </text>
    }
</div>