@using Tetrifact.Core;
@using Humanizer;

@{
    string packageId = ViewData["packageId"] as string;
    Manifest manifest = ViewData["manifest"] as Manifest;

    ViewData["Title"] = $"Package : {packageId}";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<input type="hidden" class="packageId" value="@packageId" />

<div class="layout-section layout-table">

    <div class="layout-row">
        <div class="layout-label">
        </div>
        <div class="layout-value">
            <a class="button" href="/v1/archives/@packageId">&#10515; Download</a>
        </div>
    </div>

    <div class="layout-row">
        <div class="layout-label">
            Created
        </div>
        <div class="layout-value">
            @manifest.CreatedUtc.ToLocalTime().ToString("g") (@manifest.CreatedUtc.ToLocalTime().Humanize())
        </div>
    </div>

    <div class="layout-row">
        <div class="layout-label">
            File count
        </div>
        <div class="layout-value">
            @manifest.Files.Count
        </div>
    </div>

    <div class="layout-row">
        <div class="layout-label">
            Size
        </div>
        <div class="layout-value">
            @String.Format("{0:n0}", manifest.Size) bytes
        </div>
    </div>

    <div class="layout-row">
        <div class="layout-label">
            Size on disk
        </div>
        <div class="layout-value">
            @String.Format("{0:n0}", manifest.SizeOnDisk) bytes
        </div>
    </div>

    <div class="layout-row">
        <div class="layout-label">
            Hash
        </div>
        <div class="layout-value">
            @manifest.Hash
        </div>
    </div>

    <div class="layout-row">
        <div class="layout-label">
            Info
        </div>
        <div class="layout-value">
            <a href="/v1/manifests/@ViewData["packageId"]">Manifest</a>
        </div>
    </div>

    <div class="layout-row">
        <div class="layout-label">
            Functions
        </div>
        <div class="layout-value">
            <a href="javascript:void(0);" class="package-removePackage">Delete</a>
        </div>
    </div>

</div>

<div class="layout-section">
    <h2>Tags</h2>
    <div>

        <input class="newTag" type="text" placeholder="New tag" />
        <button class="button addTag">Add</button>

        <div>
            @if (manifest.Tags.Any())
            {
                <ul>
                    @foreach (string tag in manifest.Tags)
                    {
                        <li class="listItem">
                            <a class="package-removeTag" data-tag="@tag" href="javascript:void(null)">
                                <img class="package-deleteIcon" src="/icons/delete.svg" alt="Delete">
                            </a>
                            <a href="/packagesWithTag/@tag">@tag</a>
                        </li>
                    }
                </ul>
            }
            else
            {
                <p>
                    This package is untagged.
                </p>
            }
        </div>
    </div>
</div>

<div class="layout-section">
    <div>
        <h2>Files</h2>
        @if (manifest.Files.Any())
        {
            <div>
                @foreach (ManifestItem file in manifest.Files)
                {
                    <div class="listItem">
                        <a class="listItem-icon package-download" href="/v1/files/@file.Id">&#10515;</a>
                        <div class="listItem-text">
                            @file.Path
                        </div>
                    </div>
                }
            </div>

        }
        else
        {
            <text>
                None
            </text>
        }
    </div>
</div>

