@using Tetrifact.Core;
@using Humanizer;
@model Tetrifact.Web.PackageListModel;
@{
    ViewData["Title"] = "Packages";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    @if (Model.Packages.Page.Any())
    {
        @Html.Raw(Model.Pager)

        <ul>

            @foreach (Package package in Model.Packages.Page)
            {
                <li class="listItem">
                    <a href="/package/@package.Id">@package.Id</a>
                    <div class="subtext">(@package.CreatedUtc.ToLocalTime().ToString("g") - @package.CreatedUtc.Humanize())</div>
                    <ul class="tags">
                        @foreach (string tag in package.Tags)
                        {
                            <li class="tags-tag">
                                <a class="tags-link" href="/packagesWithTag/@tag">@tag</a>
                            </li>
                        }
                    </ul>
                </li>
            }

        </ul>

        @Html.Raw(Model.Pager)
    }
    else
    {
        <text>
            No packages found.
        </text>
    }
</div>