@using Tetrifact.Core;
@using Humanizer;
@{
    string tag = ViewData["tag"] as string;
    ViewData["Title"] = $"Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
    PageableData<Package> packages = ViewData["results"] as PageableData<Package>;
    string pager = ViewData["pager"] as string;
    string search = ViewData["search"] as string; 
}

<div>
    <h2>Results for @search</h2>
    @if (packages.Items.Any())
    {
        @Html.Raw(pager)

        <ul>

            @foreach (Package package in packages.Items)
            {
                <li class="listItem">
                    <a href="/package/@package.Id">@package.Id</a> 
                    <div class="subtext">(@TimeHelper.ToIsoString(package.CreatedUtc) - @package.CreatedUtc.ToLocalTime().Humanize() )</div>
                    @await Html.PartialAsync("TagsList", package.Tags)
                </li>
            }

        </ul>

        @Html.Raw(pager)
    }
    else
    {
        <text>
            No results found.
        </text>
    }
</div>