@{
    string search = ViewData["search"] as string; 
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/layout.css" />
    <link rel="stylesheet" href="/css/package.css" />
    <link rel="stylesheet" href="/css/tags.css" />
</head>
<body>
    <div class="shell">
        <div class="fixed">
            
            <header>
                <div class="gridScaffold">
                    <a class="title" href="/">
                        @ViewData["serverName"] <span class="subtitle">Artifact storage</span>
                    </a>
                    <div class="searchFieldHolder">
                        <input class="txtSearch" type="text" value="@search" />
                        <button class="btnSearch button button--dark">Find</button>
                    </div>
                </div>
            </header>

            <main>
                <div class="gridScaffold">
                    <h1>
                        @ViewData["Title"]
                    </h1>
                    @RenderBody()
                </div>
            </main>
        </div>
        <footer>
            <div class="gridScaffold">
                <div class="footer-section">
                    <ul>
                        <li class="footer-item"><a href="/packages">Packages</a></li>
                        <li class="footer-item"><a href="/uploadPackage">Upload Package</a></li>
                        <li class="footer-item"><a href="/api">API Reference</a></li>
                    </ul>
                </div>
                <div class="footer-section">
                    <ul>
                        <li class="footer-item"><a href="https://github.com/shukriadams/tetrifact">Source code</a></li>
                        <li class="footer-item"><a href="https://github.com/feathericons/feather">Feather Icons</a></li>
                    </ul>
                </div>
                <div class="copyright">
                    &copy; 2018, Shukri Adams. Version @Tetrifact.Web.CurrentVersion.Get()
                </div>
            </div>
        </footer>
    </div>
    <script type="module" src="/scripts/common.js"></script>
    <script type="module" src="/scripts/package.js"></script>
</body>
</html>

